// by Eugeniusz Poprocki


//
// .btn-group
//
$btn-group--margin: 0 -5px 30px;
$btn-group--btn-margin: 5px;


//
// .btn // default
//
$btn-margin: $clear-margin;

$btn-padding-top: 17px;
$btn-padding-right: 30px;
$btn-padding-bottom: 17px;
$btn-padding-left: 30px;

$btn-text-align: center;
$btn-text-transform: uppercase;
$btn-line-height: 1;
$btn-letter-spacing: 1px;

$btn-font-size: 12px;
$btn-font-family: $default-font-family;
$btn-font-weight: 600;

$btn-color: $default-font-color;
$btn-color--hover: $default-font-color;

$btn-bg-color: #fff;
$btn-bg-color--hover: $gray-light;

$btn-border: 2px solid transparent;
$btn-border--hover: $btn-border;
$btn-border-radius: 50px;


//
// .btn--primary
//
$btn-primary--padding-top: 0;
$btn-primary--padding-right: 0;
$btn-primary--padding-bottom: 0;
$btn-primary--padding-left: 0;

$btn-primary--text-align: $btn-text-align;
$btn-primary--text-transform: uppercase;
$btn-primary--line-height: $btn-line-height;
$btn-primary--letter-spacing: $btn-letter-spacing;

$btn-primary--font-size: $btn-font-size;
$btn-primary--font-family: $btn-font-family;
$btn-primary--font-weight: $btn-font-weight;

$btn-primary--color: $btn-color;
$btn-primary--color--hover: rgba($btn-color, .5);

$btn-primary--bg-color: transparent;
$btn-primary--bg-color--hover: transparent;

$btn-primary--border: 2px solid transparent;
$btn-primary--border--hover: $btn-primary--border;
$btn-primary--border-radius: 0;


// 
// END VARS
// 


// btn group
.btn-group {
	@extend .flex;
	margin: $btn-group--margin;
	> .btn {
		margin: $btn-group--btn-margin;
	}
}

// default btn
.btn {
	@extend .flex;
	cursor: pointer;
    box-shadow: $default-box-shadow-half;
	padding: {
		top: $btn-padding-top;
		right: $btn-padding-right;
		bottom: $btn-padding-bottom;
		left: $btn-padding-left;
	}

	margin: $btn-margin;

	text-align: $btn-text-align;
	text-decoration: none;
	text-transform: $btn-text-transform;
	line-height: $btn-line-height;
	letter-spacing: $btn-letter-spacing;

	color: $btn-color;
	background-color: $btn-bg-color;
	border: $btn-border;
	border-radius: $btn-border-radius;

	font-size: $btn-font-size;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	
	@include transition();

	@include hover() {
        border: $btn-border--hover;
		text-decoration: none;
		background-color: $btn-bg-color--hover;
		color: $btn-color--hover;
        box-shadow: $default-box-shadow;
    }
    .ico,
    .ico-default {
        font-size: 12px;
        color: $default-font-color;
        + span {
            padding-left: 10px;
        }
    }

    // @include max-screen($xxs-max) {
    // 	justify-content: center;
    // 	width: 100%;
    // }
	// mods
    &--primary {
        @extend .flex, .flex--center-y, .flex--nowrap;
        position: relative;
    	padding: {
			top: $btn-primary--padding-top;
			right: $btn-primary--padding-right;
			bottom: $btn-primary--padding-bottom;
			left: $btn-primary--padding-left;
		}
        box-shadow: none;
		text-align: $btn-primary--text-align;
		text-decoration: none;
		text-transform: $btn-primary--text-transform;
		line-height: $btn-primary--line-height;
		letter-spacing: $btn-primary--letter-spacing;

		font-size: $btn-primary--font-size;
		font-family: $btn-primary--font-family;
		font-weight: $btn-primary--font-weight;

    	color: $btn-primary--color;
    	background-color: $btn-primary--bg-color;
    	border: $btn-primary--border;
		border-radius: $btn-primary--border-radius;

    	@include hover() {
    		color: $btn-primary--color--hover;
    		background-color: $btn-primary--bg-color--hover;
    		border: $btn-primary--border--hover;
            box-shadow: none;
            .ico {
                color: rgba($btn-color, .5);
                &[class*="left"] {
                    transform: translateX(-5px);
                }
                &[class*="right"] {
                    transform: translateX(5px);
                }
            }
    	}
        .ico {
            font-size: 10px;
            transform: translateX(0);
            @include transition();
            + span {
                padding-left: 0;
            }
            &[class*="left"] {
                margin-right: 5px;
            }
            &[class*="right"] {
                margin-left: 5px;
            }
        }
    }
	// other
	&--block {
		display: block;
		width: 100%;
		min-width: 0;
	}
    &--fixed {
        position: fixed;
        z-index: 99;
        &-top-left {
            top: 100px;
            left: 30px;
        }
        &-top-right {
            top: 100px;
            right: 30px;
        }
        &-bottom-left {
            bottom: 30px;
            left: 30px;
        }
        &-bottom-right {
            bottom: 30px;
            right: 30px;
        }
    }
}






