.wysiwyg {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $default-font-family;
		font-weight: 600;
	}

	a:not(.btn, .magnific) {
		position: relative;
		font-style: italic;
		@include hover() {
			opacity: .5;
			&::before {
				opacity: 0;
				bottom: -5px;
				transform: scale(1.1);
			}
		}
		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left:0;
			right:0;
			height: 1px;
			background-color: $default-font-color;
			@include transition();
		}
	}

	img {
	    height: auto !important;
	    max-width: 100% !important;
	}
	.img {
		margin: 40px 0;
		text-align: center;
		@include transition();
		@include hover() {
			transform: scale(1.05);
			box-shadow: $default-box-shadow;
		}
		img {
			@include max-screen($xs-min) {
				width: auto !important;
			}
		}

    	&--left, 
		&--right {
			max-width: 45%;
			margin: 40px;
			img {
				display: block;
			    width: 100%;
				
			    @include max-screen($xs-min) {
			    	display: inline-block !important;
				    width: auto !important;
		    	} 
			}
			
			@include max-screen($xs-min) {
				max-width: 100% !important;
				float: none !important;
				margin: 0 0 25px !important;
				text-align: center !important;
			}
		}

		&--left {
			float: left;
			margin-left: 0;
		}

		&--right {
			float: right;
			margin-right: 0;
		}
    }
}
