.lead {
	font-size: $default-lead-font-size;
    font-weight: $default-lead-font-weight;
    line-height: $default-line-height;
}

.gray-bg {
    background-color: $gray-light;
}

.page-content {
	padding: 100px 0;
}
